// http://colorschemedesigner.com/#3w11TrXLfw0w01QgKj2S5DV3QIYg
// http://colorschemedesigner.com/#3w11TrXLfw0w00S-S51QgKj2S5DV3QIYg
$blueDr     : #143247
$blueD      : #29587A
$blue       : #2E7FB8
$blueL      : #4BA8E9
$blueLr     : #80BDE8
$orangeDr   : #834C05
$orangeD    : #A77D48
$orange     : #FF9E20
$orangeL    : #FFBD68
$orangeLr   : #FFD6A1
$purpleD    : #531055
$purpleDr   : #603462
$purple     : #803083
$purpleL    : #BE65C1
$purpleLr   : #BF7EC1
$yellowD    : #818218
$yellowDr   : #95964F
$yellow     : #C6C849
$yellowL    : #E2E377
$yellowLr   : #E2E394

// Green
// http://colorschemedesigner.com/#2j11TuAl5w0w0
$greenDr : #496702
$greenD  : #5D7622
$green   : #719E07
$greenL  : #A2CE3A
$greenLr : #AECE62
// Red
// http://colorschemedesigner.com/#0111vparBg0g01RaOr2MBH73NKXN4GcYg
$redDr : #612D3B = 52
$redD  : #9B3230 = 88
$red   : #DC332F = 160
$redL  : #E5625F = 167
$redLr : #E99A98 = 223
// Orange
// http://colorschemedesigner.com/#0C11vw0w0g0g00----1M8GT2C5Bp3RCYI4BD--
$orangeDr : #332E28 = 94
$orangeD  : #5F472C = 130
$orange   : #FF8700 = 208
$orangeL  : #ED9E45 = 172
$orangeLr : #EFD5B8 = 224
// Yellow
// http://colorschemedesigner.com/#1J11Tw0w0w0w00OEWr1NKQg2NwI13IX-y4De--
$yellowDr : #68642C = 58
$yellowD  : #A9A346 = 101
$yellow   : #DBD254 = 143
$yellowL  : #FBF58E = 227
$yellowLr : #FFFBBD = 228
// Purple
// http://colorschemedesigner.com/#4y11v5MCEg0g00LeTV1PlPl2TVKM3F3Wr4.OWE
$purpleDr : #4C1C7E = 54
$purpleD  : #6E3BA2 = 97
$purple   : #9462C7 = 134
$purpleL  : #B896DB = 140
$purpleLr : #CCBBDC = 189
http://colorschemedesigner.com/#1l11T2G7yw0w01yRA12yDzr4xXU8
$greyDr        : #202020 = 235
$greyDst       : #1C1C1C = 233
$greyD         : #303030 = 236
$grey          : #404040 = 238
$greyL         : #767676 = 243
$greyLr        : #BCBCBC = 250
$greyLst       : #E4E4E4 = 254

$bgModeNormalD : #2f331d =
$bgModeNormal  : #AFD700
$bgModeNormalL : #eff7cc
$bgModeVisualD : #332E28
$bgModeVisual  : #FF8700
$bgModeVisualL : #EFD5B8
$bgModeInsert  : #ffffff
$bgModeInsertD : #005f5f
$bgModeInsertL : #0087af



$f: #0087AF
$c: #ABD300
$g: grey

$black           : #000000 16;
$white           : #FFFFFF 231;

$Dstgreen        : #005F00 22;
$Dgreen          : #008700 28;
$green           : #859900 64 ;
$mediumgreen     : #5FAF00 70;
$brightgreen     : #AFDF00 148;

$Dstcyan         : #005F5F 23;
$cyan            : #2aa198 37 ;
$mediumcyan      : #87DFFF 117;

$Dstblue         : #005F87 24;
$Dblue           : #0087AF 31;
$blue            : #268bd2 33 ;

$Dstred          : #5F0000 52;
$Dred            : #870000 88;
$red             : #dc322f 160;
$mediumred       : #AF0000 124;
$brightred       : #DF0000 160;
$brightestred    : #FF0000 196;

$Dstpurple       : #5F00AF 55;
$mediumpurple    : #875FDF 98;
$violet          : #6c71c4 61 ;
$brightpurple    : #DFDFFF 189;
$magenta         : #d33682 125;

$orange          : #cb4b16 166;
$brightorange    : #FF8700 208;
$brightestorange : #FFAF00 214;
$yellow          : #b58900 136;

$gray0           : #121212 233;
$gray1           : #262626 235;
$gray2           : #303030 236;
$gray3           : #4E4E4E 239;
$gray4           : #585858 240;
$gray5           : #606060 241;
$gray6           : #808080 244;
$gray7           : #8A8A8A 245;
$gray8           : #9E9E9E 247;
$gray9           : #BCBCBC 250;
$gray10          : #D0D0D0 252;

$base00          : #657b83 241;
$base01          : #586e75 240;
$base02          : #073642 0  ;
$base03          : #002b36 234;
$base0           : #839496 244;
$base1           : #93a1a1 245;
$base2           : #eee8d5 254;
$base3           : #fdf6e3 230;
