// Green
// http://colorschemedesigner.com/#2P12dw0eUg0g00KyQg1QuLG2SyF33F3UB4..X6
$greenDarker      : #155015 = 22
$greenDark        : #2C852C = 28
$green            : #57A957 = 71
$greenLight       : #8CCC8C = 114
$greenLighter     : #C0E0C0 = 115
// Blue
// http://colorschemedesigner.com/#3o11v--Arg0g00QuVh1QILV2SMFi3FwVh4AIYg

$blueDarker       : #154552 = 24  = rgb(21,69,82)
$blueDark         : #2B7387 = 37  = rgb(43,115,135)
$blue             : #45B2D1 = 38  = rgb(69,178,209)
$blueLight        : #8DC2D1 = 74  = rgb(141,194,209)
$blueLighter      : #C0E0E9 = 123 = rgb(192,224,233)
// Red
// http://colorschemedesigner.com/#0111vparBg0g01RaOr2MBH73NKXN4GcYg
$redDarker        : #612D3B = 52
$redDark          : #9B3230 = 88
$red              : #DC332F = 160
$redLight         : #E5625F = 167
$redLighter       : #E99A98 = 223
// Orange
// http://colorschemedesigner.com/#0C11vw0w0g0g00----1M8GT2C5Bp3RCYI4BD--
$orangeDarker     : #332E28 = 94
$orangeDark       : #5F472C = 130
$orange           : #FF8700 = 208
$orangeLight      : #ED9E45 = 172
$orangeLighter    : #EFD5B8 = 224
// Yellow
// http://colorschemedesigner.com/#1J11Tw0w0w0w00OEWr1NKQg2NwI13IX-y4De--
$yellowDarker     : #68642C = 58
$yellowDark       : #A9A346 = 101
$yellow           : #DBD254 = 143
$yellowLight      : #FBF58E = 227
$yellowLighter    : #FFFBBD = 228
// Purple
// http://colorschemedesigner.com/#4y11v5MCEg0g00LeTV1PlPl2TVKM3F3Wr4.OWE
$purpleDarker     : #4C1C7E = 54  = rgb(76,28,126)
$purpleDark       : #6E3BA2 = 97  = rgb(110,59,162)
$purple           : #9462C7 = 134 = rgb(148,98,199)
$purpleLight      : #B896DB = 140 = rgb(184,150,219)
$purpleLighter    : #CCBBDC = 189 = rgb(204,187,220)

$greyDarkest      : #1C1C1C = 233
$greyDarker       : #202020 = 235
$greyDark         : #303030 = 236
$grey             : #404040 = 238
$greyLight        : #767676 = 243
$greyLighter      : #BCBCBC = 250
$greyLightest     : #E4E4E4 = 254

$bgModeNormalDark : #2f331d =
$bgModeNormal     : #AFD700
$bgModeNormalLight: #eff7cc
$bgModeVisualDark : #332E28
$bgModeVisual     : #FF8700
$bgModeVisualLight: #EFD5B8
$bgModeInsert     : #ffffff
$bgModeInsertDark : #005f5f
$bgModeInsertLight: #0087af



$f: #0087AF
$c: #ABD300
$g: grey
