// Green
// http://colorschemedesigner.com/#2P12dw0eUg0g00KyQg1QuLG2SyF33F3UB4..X6
$greenDarker      : #155015
$greenDark        : #2C852C
$green            : #57A957
$greenLight       : #8CCC8C
$greenLighter     : #C0E0C0
// Blue
// http://colorschemedesigner.com/#3o11v--Arg0g00QuVh1QILV2SMFi3FwVh4AIYg
$blueDarker       : #154552 = rgb(21,69,82)
$blueDark         : #2B7387 = rgb(43,115,135)
$blue             : #45B2D1 = rgb(69,178,209)
$blueLight        : #8DC2D1 = rgb(141,194,209)
$blueLighter      : #C0E0E9 = rgb(192,224,233)
// Red
// http://colorschemedesigner.com/#0111vparBg0g01RaOr2MBH73NKXN4GcYg
$redDarker        : #612D3B
$redDark          : #9B3230
$red              : #DC332F
$redLight         : #E5625F
$redLighter       : #E99A98
// Orange
// http://colorschemedesigner.com/#0C11vw0w0g0g00----1M8GT2C5Bp3RCYI4BD--
$orangeDarker     : #332E28
$orangeDark       : #5F472C
$orange           : #FF8700
$orangeLight      : #ED9E45
$orangeLighter    : #EFD5B8
// Yellow
// http://colorschemedesigner.com/#1J11Tw0w0w0w00OEWr1NKQg2NwI13IX-y4De--
$yellowDarker     : #68642C
$yellowDark       : #A9A346
$yellow           : #DBD254
$yellowLight      : #FBF58E
$yellowLighter    : #FFFBBD
// Purple
// http://colorschemedesigner.com/#4y11v5MCEg0g00LeTV1PlPl2TVKM3F3Wr4.OWE
$purpleDark       : #6E3BA2 = rgb(110,59,162)
$purpleDarker     : #4C1C7E = rgb(76,28,126)
$purple           : #9462C7 = rgb(148,98,199)
$purpleLight      : #B896DB = rgb(184,150,219)
$purpleLighter    : #CCBBDC = rgb(204,187,220)

$greyDarkest      : #1C1C1C
$greyDarker       : #202020
$greyDark         : #303030
$grey             : #404040
$greyLight        : #767676
$greyLighter      : #BCBCBC
$greyLightest     : #E4E4E4

$bgModeNormal     : #AFD700
$bgModeNormalDark : #2f331d
$bgModeNormalLight: #eff7cc
$bgModeVisual     : #FF8700
$bgModeVisualDark : #332E28
$bgModeVisualLight: #EFD5B8
$bgModeInsert     : #ffffff
$bgModeInsertDark : #005f5f
$bgModeInsertLight: #0087af
