snippet html5
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8" />
			<title>${1:title}</title>
		</head>
		<body>
			${2:source}
		</body>
	<html>

snippet script
	<script src="javascripts/${1:filename}.js"></script>

snippet css
	<link  rel="stylesheet" href="stylesheets/${1:filename}.css" />
