#
# jQuery syntax
# ------------------------------------------------------------------------------
snippet .suc
	.success(function (${1:args}) {
		${2:// code…}
	});
snippet .err
	.success(function (${1:args}) {
		${2:// code…}
	});
snippet .fi
	.find(${1:args})${2:next}
snippet ready
	$(function () {
		'use strict';

		${1:// code…}
	});
snippet .on
	.on('${1:event}', function (${2:event}) {
		var $this = $(this);

		${3}
	});
